body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.cell {
    background: #2559c3;
    border: 1px solid #999;
    float: left;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
}

.cell:focus {
    outline: none;
}
